G:/study/PJ/대출[[:space:]]대상자[[:space:]]중[[:space:]]2년[[:space:]]내[[:space:]]대출금을[[:space:]]연체할[[:space:]]가능성이[[:space:]]있는지[[:space:]]여부를[[:space:]]예측하는[[:space:]]알고리즘[[:space:]]모델링.ipynb filter=lfs diff=lfs merge=lfs -text
