대출 대상자 중 2년 내 대출금을 연체할 가능성이 있는지 여부를 예측하는 알고리즘 모델링/mini_ing 0.6.ipynb
대출 대상자 중 2년 내 대출금을 연체할 가능성이 있는지 여부를 예측하는 알고리즘 모델링/mini_ing 0.7.ipynb
카드 데이터를 활용한 고객의 니즈 파악 및 홍보채널 발굴하기/카드 데이터를 활용한 고객의 니즈 파악 및 홍보채널 발굴하기.pptx
대출 대상자 중 2년 내 대출금을 연체할 가능성이 있는지 여부를 예측하는 알고리즘 모델링/대출 대상자 중 2년 내 대출금을 연체 가능성 여부를 예측하는 알고리즘 모델링.pptx
